git+https://github.com/LyzrCore/lyzr-automata.git@b6794a003f68e4fdb784c18d684b856c5670a526
streamlit
pymongo
python-dotenv
lxml_html_clean
fastapi
gnews==0.3.7
newspaper4k
lyzr==0.1.38
reportlab==4.2.0
fpdf==1.7.2