git+https://github.com/LyzrCore/lyzr-automata.git@10565fc0525d3d55206eb12f6198316f267b79df
streamlit
pymongo==4.7.2
python-dotenv==1.0.1
lxml_html_clean==0.1.1
fastapi==0.111.0
gnews==0.3.7
newspaper4k
lyzr