git+https://github.com/LyzrCore/lyzr-automata.git@10565fc0525d3d55206eb12f6198316f267b79df
streamlit
pymongo
python-dotenv
lxml_html_clean
fastapi
gnews==0.3.7
newspaper4k
lyzr==0.1.38
reportlab==4.2.0
fpdf==1.7.2